
.icon-basket:before { content: '\e800'; } /* '' */
.icon-battery-level:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-shipped-(2):before { content: '\e803'; } /* '' */
.icon-shopping-cart:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-thumbs-down:before { content: '\e806'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e807'; } /* '' */
.icon-truck:before { content: '\e808'; } /* '' */
.icon-box:before { content: '\e809'; } /* '' */
.icon-box-2:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-cut:before { content: '\e80c'; } /* '' */
.icon-dollar-symbol:before { content: '\e80d'; } /* '' */
.icon-download:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-group-4320:before { content: '\e810'; } /* '' */
.icon-instagram:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-menu:before { content: '\e813'; } /* '' */
.icon-question:before { content: '\e814'; } /* '' */
.icon-register:before { content: '\e815'; } /* '' */
.icon-sad:before { content: '\e816'; } /* '' */